body
{
    font-family: 'Tahoma';
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid;
    width: 39em;
    height: 52em; /* 4:3 */
    font-size: 12px;
    position: relative;
}

.tr_selected
{
    background-color: cornflowerblue;
}

.sabotaged 
{
    text-decoration: line-through;
    background-color: red;
}

.minus
{
    background-color: red;
}

.plus
{
    background-color: green;
}

.card
{
    width: 5.3em;
    height: 4em;
    border: 1px solid;
    display: inline-grid;
    margin-right: 1em;
    text-align: center;
}

.card_selected
{
    background-color: cornflowerblue;
}

.card_unselected
{
    background-color: white;
}

.card_unselected:hover
{
    background-color: lightskyblue;
}

.card_unselected:active
{
    background-color: cornflowerblue;
}

#page
{
    background-color: white;
    text-align:center;
}

#page_title 
{
    width:100%;
}

#page_content
{
    display: inline-block;
    text-align: left;
}

#page_radio_div
{
}

#page_buttons
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
}

.page_button
{
    font-size: 2em;
}
